<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Coinvana</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/"><img src="images/logo.png" class="logo"></a>
        <a href="#"><button>Register</button></a>
      </header>
      <nav>
				<a href="/coinbasebitbns">Coinbase - BitBnS</a>
				<a href="/coinbasewazirx">Coinbase - WazirX</a>
				<a href="#">Coinbase - CoinDCX</a>
        <hr>
				<a href="#">Gemini - BitBnS</a>
				<a href="#">Gemini - WazirX</a>
        <hr>
        <a href="#">FAQ</a>
        <hr>
			</nav>
      <main>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
