<section class="phx-hero">
  <h1>Find best Crypto-Currency Arbitrage deals in Real Time !</h1>
  <p>Working abroad ?</p>
  <p>Want to send money home ?</p>
  <p>Don't want to pay hefty transfer fees?</p>
</section>
